---
import StudentStats from "@/components/studentStats";
import RootLayout from "@/layouts/RootLayout.astro";
import { actions } from "astro:actions";

const courseId = Astro.params.id!;
const { data } = await actions.courses_getAllCourses();
const { data: studentData } = await actions.statistics_studentBarchartData({ courseId });
const { data: attendanceData } = await actions.statistics_studentHeatmapData({ courseId });
---

<RootLayout title="Statistics">
  <div class="flex gap-2 items-center mx-4 md:mx-8">
    {
      data?.data?.map((course) => (
        <a
          href={`/statistics/${course.id}`}
          class={`p-1 px-2 border rounded-lg ${course.id === courseId ? "border-primary" : ""}`}
        >
          {course.title}
        </a>
      ))
    }
  </div>
  <StudentStats client:load studentData={studentData} attendanceData={attendanceData} />
</RootLayout>
