---
import StudentStats from "@/components/studentStats";
import RootLayout from "@/layouts/RootLayout.astro";
import { actions } from "astro:actions";
import db from "@/lib/db";

const courseId = Astro.params.id!;
const call = Astro.callAction;
if (!courseId) return null;

const currentUser = Astro.locals.user;
if (!currentUser) return null;

const enrolledCourses = await db.enrolledUsers.findMany({
  where: {
    username: currentUser.username,
  },
});

if (!enrolledCourses.some((course) => course.courseId === courseId)) {
  return Astro.redirect("/404");
}

const { data } = await call(actions.courses_getAllCourses, {});
const { data: studentData } = await call(actions.statistics_studentBarchartData, { courseId });
const { data: attendanceData } = await call(actions.statistics_studentHeatmapData, { courseId });
---

<RootLayout title="Statistics">
  <div class="flex gap-2 items-center mx-4 md:mx-8 mb-2">
    {
      data?.data?.map((course: any) => (
        <a
          href={`/statistics/${course.id}`}
          class={`p-1 px-2 border rounded-lg ${course.id === courseId ? "border-primary" : ""}`}
        >
          {course.title}
        </a>
      ))
    }
  </div>
  <StudentStats client:load studentData={studentData} attendanceData={attendanceData} />
</RootLayout>
