---
import ReactLayout from "@/layouts/RootLayout.astro";
import Community from "./_components/mainpage";
import db from "@/lib/db";

const currentuser = Astro.locals.user;
if (!currentuser) return null;
const allDoubts = await db.course.findMany({
  where: {
    enrolledUsers: {
      some: {
        username: currentuser.username,
      },
    },
  },
  include: {
    doubts: {
      include: {
        user: true,
        response: {
          include: {
            user: true,
          },
        },
      },
    },
  },
});
---

<ReactLayout title="Community Forum">
  <main class="m-2 mx-5 flex flex-col items-center justify-center">
    <Community allDoubts={allDoubts} currentUser={currentuser} client:load />
  </main>
</ReactLayout>
