---
import RootLayout from "@layouts/RootLayout.astro";
import StudentCertificate from "./_components/StudentCertificate";
import MentorCertificate from "./_components/MentorCertificate";
const currentUser = Astro.locals.user;

if (!currentUser) return Astro.redirect("/sign-in");
---

<RootLayout title="Certificate">
  {
    currentUser.role === "STUDENT" ? (
      <div>
         <StudentCertificate user={currentUser} client:load />
      </div>
    ) : (
      currentUser.role === "MENTOR" && 
      <div>
        <MentorCertificate user={currentUser} client:load />
      </div>
    )
  }
</RootLayout>
