---
import RootLayout from "@/layouts/RootLayout.astro";
import NewAssignments from "@/pages/attachments/_components/NewAssignments";
import db from "@/lib/db";
const myClass = await db.class.findMany({
  where: {
    courseId: Astro.params.courseId!,
  },
  include: {
    course: true,
    video: true,
    attachments: true,
    Folder: true,
  },
  orderBy: {
    createdAt: "asc",
  },
});

const classes = myClass?.map((c) => {
  return {
    id: c.id,
    title: c.title,
    folderTitle: c.Folder?.title,
    createdAt: c.createdAt,
  };
});
---

<RootLayout title="New Attachment">
  <div>
    <NewAssignments client:only classes={classes} />
  </div>
</RootLayout>
