@tailwind base;
@tailwind components;
@tailwind utilities;
 

html,
body,
:root{
  height: 100%;
}

html.light {
  --background: #fafaff;
  --foreground: #020202;
}

html.dark {
  --background: #111827;
  --foreground: #f9fafb;
}

/* ----------scroll bar---------- */
::-webkit-scrollbar {
  width: 8px; /* Set the width of the scrollbar */
  /* margin: 4px 0; Add margin on top and bottom */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Set the color of the scrollbar track */
  margin: 8px 1px; /* Add margin on top and bottom */
}

::-webkit-scrollbar-thumb {
  background-color: rgb(209 213 219); /* Set the color of the scrollbar thumb */
  border-radius: 6px; /* Set the border-radius of the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(156 163 175); /* Set the color of the scrollbar thumb on hover */
}