---
import db from "@/lib/db";
import { NOTIFICATION_HREF_MAP } from "@/components/Notifications";
import RootLayout from "@/layouts/RootLayout.astro";
const id = Astro.params.id;

if (!id) {
 return Astro.redirect("/notifications");
}

const notification = await db.notification.findUnique({
  where: {
    id: id,
  },
});

if (!notification) {
 return Astro.redirect("/notifications");
}

const notifcationlink =  NOTIFICATION_HREF_MAP[notification.eventType] 

return Astro.redirect(notifcationlink);
---


<RootLayout title="Redirecting...">
  <div class="flex h-screen flex-col items-center justify-center">
    <div class="text-center">
      <h1 class="text-4xl font-bold">Redirecting...</h1>
      <p class="text-xl">
        If you are not redirected automatically, please click <a href={String(notifcationlink)}>here</a>.
      </p>
    </div>
  </div>
</RootLayout>