---
import RootLayout from "@/layouts/RootLayout.astro";
import UserTable from "./_components/UsersTable";
import { actions } from "astro:actions";

const params = Astro.params;
const { id } = Astro.params;
const currentUser = Astro.locals.user;   



const call = Astro.callAction;
const {data:allUsers} = await call(actions.users_getAllUsers, { courseId: id! });

---

<RootLayout title="Manage Course">
    {
        (!currentUser || currentUser.role !== "INSTRUCTOR" ) ? 
        <div class="mt-8 text-center text-3xl font-semibold">
        Unauthorized
        </div>    
        :
        <div class="flex items-center justify-center">
            <UserTable users={allUsers || []} params={params} client:load />
        </div>
    }
</RootLayout>