---
import RootLayout from "@layouts/RootLayout.astro";

const pathname = Astro.url.pathname;
---

<RootLayout title="404 - Page Not Found">
  <div class="flex h-screen flex-col items-center justify-center">
    <div class="text-center">
      <h1 class="text-4xl font-bold">404</h1>
      <p class="mt-2 text-xl">
        Page
        <code class="text-blue-700">{pathname}</code>
        not found.
      </p>
    </div>
  </div>
</RootLayout>
